
.header{
    background-color: #f97760;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
   h1,h2{
       text-align: center;
   }
* body{
    background-image: url("bg.jpeg");
    background-size: 1500px 750px;
    background-repeat: no-repeat; 
}